/* Easy.CSS created by Sean B. You can view the project on github: https://github.com/seanysean/easy-css */

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: sans-serif, verdana;
  height: 100%;
}

/*box shadows*/
.ec-shadow-white {
  box-shadow: 1px 1px 10px #fff;
}

.ec-shadow-black {
  box-shadow: 1px 1px 10px #000;
}

.ec-shadow-green {
  box-shadow: 1px 1px 10px #37B264;
}

.ec-shadow-blue {
  box-shadow: 1px 1px 10px #06F;
}

.ec-shadow-red {
  box-shadow: 1px 1px 10px #e15151;
}

.ec-shadow-gray {
  box-shadow: 1px 1px 10px #7F7F7F;
}

.ec-shadow-dark-gray {
  box-shadow: 1px 1px 10px #333;
}

/*Basic features*/
.ec-code-small {
  padding: 3px;
  font-weight: 100;
  border-radius: 5px;
}

.ec-circle {
  border-radius: 50%;
}

.ec-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.ec-popup * {
  display: inline-block;
}

.ec-button {
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  margin: auto;
  transition: 0.25s ease;
  cursor: pointer;
}

.ec-button:hover {
  opacity: 0.8;
}

.ec-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7F7F7F;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.ec-footer {
  padding: 10px;
  box-sizing: content-box;
}

.ec-topbar {
  width: 100%;
  position: fixed;
  font-size: 1em;
  top: 0;
  height: 50px;
  padding: 10px;
}

/*Cards*/
.ec-card {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  word-wrap: break-word;
}

.ec-card-1 {
  width: 97%;
  margin: 10px auto;
  padding: 20px;
  word-wrap: break-word;
}

.ec-card-2 {
  width: 45%;
  margin: 1%;
  margin-left: 1.4%;
  padding: 3%;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
}

.ec-card-3 {
  width: 26%;
  margin: 5%;
  margin-left: 1.4%;
  padding: 3%;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
}

.ec-fixed {
  position: fixed;
}

.ec-card-full {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  padding: 3%;
}

/*Background colors*/
.ec-dark-gray {
  background-color: #333;
}

.ec-white {
  background-color: #fff;
}

.ec-green {
  background-color: #37B264;
}

.ec-blue {
  background-color: #06F;
}

.ec-red {
  background-color: #e15151;
}

.ec-gray {
  background-color: #7F7F7F;
}

/*Text colors*/
.ec-text-dark-gray {
  color: #333;
}

.ec-text-white {
  color: #fff;
}

.ec-text-green {
  color: #37B264;
}

.ec-text-blue {
  color: #06F;
}

.ec-text-red {
  color: #e15151;
}

.ec-text-gray {
  color: #7F7F7F;
}

.ec-text-black {
  color: #000;
}

/*Text Sizes*/
.ec-very-small {
  font-size: 0.6em;
}

.ec-small {
  font-size: 0.8em;
}

.ec-medium {
  font-size: 1em;
}

.ec-medium-large {
  font-size: 1.5em;
}

.ec-large {
  font-size: 2em;
}

.ec-very-large {
  font-size: 2.3em;
}

/*Text shadows*/
.ec-text-shadow-white {
  text-shadow: 1px 1px 10px #fff;
}

.ec-text-shadow-black {
  text-shadow: 1px 1px 10px #000;
}

.ec-text-shadow-green {
  text-shadow: 1px 1px 10px #5cb85c;
}

.ec-text-shadow-blue {
  text-shadow: 1px 1px 10px #06F;
}

.ec-text-shadow-red {
  text-shadow: 1px 1px 10px #e15151;
}

.ec-text-shadow-gray {
  text-shadow: 1px 1px 10px #7F7F7F;
}

.ec-text-shadow-dark-gray {
  text-shadow: 1px 1px 10px #333;
}

.ec-center {
  margin: auto;
  display: inline-block;
  text-align: center;
}

@media (max-width: 650px) {
  .ec-card-2,
  .ec-card-1 {
    width: 90%;
    margin-top: 10px;
    display: block;
    margin: 20px auto;
  }

  .ec-card-3 {
    width: 38%;
    margin-top: 10px;
    margin: 5%;
  }
}
@media (max-width: 505px) {
  .ec-card-3 {
    width: 90%;
    margin-top: 10px;
    margin: 20px auto;
    display: block;
  }
  .ec-card-1, .ec-card-2, .ec-card-3, .ec-card-full {
    padding: 20px;
  }
}
