/* Easy CSS created by Sean B. You can view the project on github: https://github.com/seanysean/easy-css */

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif, verdana;
  height: 100%;
}

/*box shadows*/
.ec-shadow-white {
  box-shadow: 1px 1px 10px #fff;
}

.ec-shadow-red {
  box-shadow: 1px 1px 10px #e15151;
}

.ec-shadow-dark-red {
  box-shadow: 1px 1px 10px #873030;
}

.ec-shadow-light-green {
  box-shadow: 1px 1px 10px #87D0A2;
}

.ec-shadow-green {
  box-shadow: 1px 1px 10px #37B264;
}

.ec-shadow-dark-green {
  box-shadow: 1px 1px 10px #216A3C;
}

.ec-shadow-light-blue {
  box-shadow: 1px 1px 10px #34AAF2;
}

.ec-shadow-blue {
  box-shadow: 1px 1px 10px #06F;
}

.ec-shadow-orange {
  box-shadow: 1px 1px 10px #E1821E;
}

.ec-shadow-yellow {
  box-shadow: 1px 1px 10px #E1C51E;
}

.ec-shadow-light-gray {
  box-shadow: 1px 1px 10px #d9d9d9;
}

.ec-shadow-gray {
  box-shadow: 1px 1px 10px #7F7F7F;
}

.ec-shadow-dark-gray {
  box-shadow: 1px 1px 10px #333;
}

.ec-shadow-black {
  box-shadow: 1px 1px 10px #000;
}

/*Code sample stuff*/

.ec-code-small {
  padding: 3px;
  font-weight: 200;
  border-radius: 5px;
}

.ec-code-large {
  padding: 3px;
  font-weight: 200;
  display: block;
  text-align: left;
  margin: 20px auto;
  box-sizing: border-box;
  border-left: 5px solid transparent;
}

.ec-code-large.ec-text-white {
  border-left-color: #fff; /*There needs to be a fallback*/
  border-left-color: RGBa(205,205,205, 0.7);
}

.ec-code-large.ec-text-red {
  border-left-color: #e15151; /*There needs to be a fallback*/
  border-left-color: RGBa(225,81,81,0.7);
}

.ec-code-large.ec-text-dark-red {
  border-left-color: #873030; /*There needs to be a fallback*/
  border-left-color: RGBa(135,48,48,0.7);
}

.ec-code-large.ec-text-light-green {
  border-left-color: #87D0A2; /*There needs to be a fallback*/
  border-left-color: RGBa(135,208,162,0.7);
}

.ec-code-large.ec-text-green {
  border-left-color: #37B264; /*There needs to be a fallback*/
  border-left-color: RGBa(55,178,100,0.7);
}

.ec-code-large.ec-text-dark-green {
  border-left-color: #216A3C; /*There needs to be a fallback*/
  border-left-color: RGBa(33,106,60,0.7);
}

.ec-code-large.ec-text-blue {
  border-left-color: #06F; /*There needs to be a fallback*/
  border-left-color: RGBa(0,102,255, 0.7);
}

.ec-code-large.ec-text-light-blue {
  border-left-color: #34AAF2; /*There needs to be a fallback*/
  border-left-color: RGBa(52,170,242,0.7);
}

.ec-code-large.ec-text-orange{
  border-left-color: #E1821E; /*There needs to be a fallback*/
  border-left-color: RGBa(225,130,30,0.7);
}

.ec-code-large.ec-text-yellow{
  border-left-color: #E1C51E; /*There needs to be a fallback*/
  border-left-color: RGBa(225,197,30,0.7);
}

.ec-code-large.ec-text-light-gray {
  border-left-color: #d9d9d9; /*There needs to be a fallback*/
  border-left-color: RGBa(217,217,217, 0.7);
}

.ec-code-large.ec-text-gray {
  border-left-color: #7F7F7F; /*There needs to be a fallback*/
  border-left-color: RGBa(127,127,127, 0.7);
}

.ec-code-large.ec-text-dark-gray {
  border-left-color: #333; /*There needs to be a fallback*/
  border-left-color: RGBa(51,51,51,0.7);
}

.ec-code-large.ec-text-black {
  border-left-color: #000; /*There needs to be a fallback*/
  border-left-color: RGBa(0,0,0,0.7);
}

.ec-code-large {
  overflow-x: auto; /*For if the user decides to use <pre>*/
}

/*Basic features*/

.ec-circle {
  border-radius: 50%;
}

.ec-rounded-small {
  border-radius: 4px;
}

.ec-rounded-large {
  border-radius: 10px;
}

.ec-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.ec-popup * {
  display: inline-block;
}

.ec-button {
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  margin: auto;
  transition: 0.25s ease;
  cursor: pointer;
  text-decoration: none;
}

.ec-button:hover {
  opacity: 0.8;
}

.ec-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7F7F7F;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.ec-footer {
  padding: 10px;
  box-sizing: content-box;
}

.ec-topbar {
  width: 100%;
  position: fixed;
  font-size: 1em;
  top: 0;
  min-height: 50px;
  padding: 10px;
}

.ec-topbar * {
  vertical-align: middle;
}

.ec-center {
  margin: auto;
  display: table;
  text-align: center;
}

.ec-hr {
  width: 100%;
  height: 1px;
  display: block;
  margin: 10px auto;
  background: #fff;
}

/*Cards*/
.ec-card {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  word-wrap: break-word;
}

.ec-card-1 {
  width: 97%;
  margin: 10px auto;
  padding: 20px;
  word-wrap: break-word;
}

.ec-card-2 {
  width: 47%;
  margin: 1%;
  margin-left: 1.4%;
  padding: 3%;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
}

.ec-card-3 {
  width: 30.5%;
  margin: 1%;
  margin-left: 1.4%;
  padding: 3%;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
}

.ec-fixed {
  position: fixed;
}

.ec-card-full {
  width: 100%;
  min-height: 100%;
  margin: 50px 0;
  padding: 3%;
  word-wrap: break-word;
}
.ec-card-wide {
  width: 100%;
  height: auto;
  margin: 50px 0;
  padding: 3%;
  word-wrap: break-word;
}

/*Background colors*/

.ec-white {
  background-color: #fff;
}

.ec-red {
  background-color: #e15151;
}

.ec-dark-red {
  background-color: #873030;
}

.ec-light-green {
  background-color: #87D0A2;
}

.ec-green {
  background-color: #37B264;
}

.ec-dark-green {
  background-color: #216A3C;
}

.ec-blue {
  background-color: #06F;
}

.ec-light-blue {
  background-color: #34AAF2;
}

.ec-orange {
  background-color: #E1821E;
}

.ec-yellow {
  background-color: #E1C51E;
}

.ec-light-gray {
  background-color: #d9d9d9;
}

.ec-gray {
  background-color: #7F7F7F;
}

.ec-dark-gray {
  background-color: #333;
}

.ec-black {
  background-color: #000;
}

/*Text colors*/

.ec-text-white {
  color: #fff;
}

.ec-text-red {
  color: #e15151;
}

.ec-text-dark-red {
  color: #873030;
}

.ec-text-light-green {
  color: #87D0A2;
}

.ec-text-green {
  color: #37B264;
}

.ec-text-dark-green {
  color: #216A3C;
}

.ec-text-blue {
  color: #06f;
}

.ec-text-light-blue {
  color: #34AAF2;
}

.ec-text-orange {
  color: #E1821E;
}

.ec-text-yellow {
  color: #E1C51E;
}

.ec-text-light-gray {
  color: #d9d9d9;
}

.ec-text-gray {
  color: #7F7F7F;
}

.ec-text-dark-gray {
  color: #333;
}

.ec-text-black {
  color: #000;
}

/*Text Sizes*/
.ec-very-small {
  font-size: 0.6em;
}

.ec-small {
  font-size: 0.8em;
}

.ec-medium {
  font-size: 1em;
}

.ec-medium-large {
  font-size: 1.5em;
}

.ec-large {
  font-size: 2em;
}

.ec-very-large {
  font-size: 2.3em;
}

/*Text shadows*/

.ec-text-shadow-white {
  text-shadow: 1px 1px 10px #fff;
}

.ec-text-shadow-red {
  text-shadow: 1px 1px 10px #e15151;
}

.ec-text-shadow-dark-red {
  text-shadow: 1px 1px 10px #873030;
}

.ec-text-shadow-light-green {
  text-shadow: 1px 1px 10px #87D0A2;
}

.ec-text-shadow-green {
  text-shadow: 1px 1px 10px #37B264;
}

.ec-text-shadow-dark-green {
  text-shadow: 1px 1px 10px #216A3C;
}

.ec-text-shadow-blue {
  text-shadow: 1px 1px 10px #06F;
}

.ec-text-shadow-light-blue {
  text-shadow: 1px 1px 10px #34AAF2;
}

.ec-text-shadow-orange {
  text-shadow: 1px 1px 10px #E1821E;
}

.ec-text-shadow-yellow {
  text-shadow: 1px 1px 10px #E1C51E;
}

.ec-text-shadow-light-gray {
  text-shadow: 1px 1px 10px #d9d9d9;
}

.ec-text-shadow-gray {
  text-shadow: 1px 1px 10px #7F7F7F;
}

.ec-text-shadow-dark-gray {
  text-shadow: 1px 1px 10px #333;
}

.ec-text-shadow-black {
  text-shadow: 1px 1px 10px #000;
}

@media (max-width: 650px) {
  .ec-card-2,
  .ec-card-1 {
    width: 90%;
    margin-top: 10px;
    display: block;
    margin: 20px auto;
  }

  .ec-card-3 {
    width: 38%;
    margin-top: 10px;
    margin: 5%;
  }

  .ec-popup {
    width: 80%;
  }
}
@media (max-width: 505px) {
  .ec-card-3 {
    width: 90%;
    margin-top: 10px;
    margin: 20px auto;
    display: block;
  }

  .ec-card-1, .ec-card-2, .ec-card-3, .ec-card-full {
    padding: 20px;
  }
}
@media (max-width: 430px) {
  .ec-popup {
    width: 90%;
  }
}
